<div class="container">
  <div class="header">
    
  </div>
  
  <div class="user-options">
    <div class="card" (click)="selectUserType('renter')">
      <div class="icon">
        <img src="../../assets/image/renter.png" alt="Rent">
      </div>
      <h2>Renter</h2>
      <p>over 1 million+ homes for sale available on the website, we can match you with a house you will want to call home.</p>
    </div>

    <div class="card" (click)="selectUserType('landowner')">
      <div class="icon">
        <img src="../../assets/image/landowner.png" alt="landowner">
      </div>
      <h2>Landowner</h2>
      <p>over 1 million+ homes for sale available on the website, we can match you with a house you will want to call home.</p>
    </div>
  </div>
</div>
